
.icon-tem_check:before { content: '\e800'; } /* '' */
.icon-tem_compass:before { content: '\e801'; } /* '' */
.icon-tem_headphone:before { content: '\e802'; } /* '' */
.icon-tem_arrow-down:before { content: '\e803'; } /* '' */
.icon-tem_arrow-up:before { content: '\e804'; } /* '' */
.icon-tem_brain:before { content: '\e805'; } /* '' */
.icon-tem_info:before { content: '\e806'; } /* '' */
.icon-tem_home:before { content: '\e807'; } /* '' */
.icon-tem_list:before { content: '\e808'; } /* '' */
.icon-tem_marker:before { content: '\e809'; } /* '' */
.icon-tem_marker-cross:before { content: '\e80a'; } /* '' */
.icon-tem_pause:before { content: '\e80b'; } /* '' */
.icon-tem_play:before { content: '\e80c'; } /* '' */
.icon-tem_rewind:before { content: '\e80d'; } /* '' */
.icon-tem_share:before { content: '\e80e'; } /* '' */
.icon-tem_path-chapter:before { content: '\e819'; } /* '' */
.icon-tem_path-end:before { content: '\e81a'; } /* '' */
.icon-tem_path-start:before { content: '\e81b'; } /* '' */
.icon-tem_maps:before { content: '\e855'; } /* '' */