// IMPORTS
//
@import 'variables';
@import 'bootstrap-sass/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import 'tem_font/css/tem.css';

// UTILITY CLASSES
//

html {
  user-select: none;
}

.open {
    font-weight: 500;
}

.inactive {
  h3 {
    margin-top: 15px;

  }

  h3, i {
    color: $gray-light;
    }

  hr {
    border-color: $gray-light;
  }
}

.maps {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.chapter {
  height: 150px;
}

.played {
  color: $brand-primary;
}

// CUSTOM TYPOGRAPHY
//
h1 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
    color: $text-color;
}

.pathtitle h3 {
    margin-top: 15px;
}

h5 {
    color: $text-color;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    margin: 0;
}

.timer {
  font-weight: 500;
  font-size:24px;
  line-height: 116px;
}

.chapterTitle {
  font-weight: 300;
  font-size:20px;
}

.courtesy {
  font-weight: 300;
  font-size: 12px;
}

// NAVABAR
//
.navbar {
    padding-top: 10px;
}

// UI BUTTONS
//
.btn-default {
    text-transform: uppercase;
    font-weight: 300;
}

.btn-lg {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0;
}

.btn-xs {
  margin-top: 10px;
}

.btn-xs:last-of-type {
  margin-left: 20px;
}

.btn-default:hover {
    color: $brand-primary;
    border-color: $brand-primary;
}

// UI MISC
//
.pathcard {
    padding-bottom: 20px;
}

body {
    padding-bottom: 0px;
}

// UI ICONS
.icon-tem_headphone {
    font-size:80px;
}

.icon-tem_maps {
    font-size:40px;
}

.icon-tem_home, .icon-tem_info, .icon-tem_share, .icon-tem_info, .icon-tem_share, .icon-tem_list {
    font-size: 30px;
}

.icon-tem_arrow-down, .icon-tem_arrow-up  {
    font-size: 36px;
}

.icon-tem_compass {
    font-size: 20px;
}

.icon-tem_check {
    font-size: 20px;
}

.icon-tem_marker, .icon-tem_marker-cross {
    font-size: 80px;
    color: $brand-primary;
}
.icon-tem_marker-cross.small{
    font-size: 20px;
    color: $text-color;
}
.icon-tem_play.big, .icon-tem_pause.big {
    font-size: 120px;
}

.icon-tem_pause, .icon-tem_rewind, .icon-tem_play  {
    font-size: 80px;
}
