<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <h1>territoire <br/>en <br/>mouvements</h1>
            <h5>Des parcours sensibles à l'échelle <br/>de Montpellier Méditerranée Métropole.</h5>
            <i class="icon-tem_headphone"></i>
            <p class="visible-xs visible-sm">
                Venez simplement avec votre mobile et un casque audio et téléchargez sur place les indications qui vous guident pour une exploration insolite, des instants fragiles et des monuments historiques.
            </p>
            <p class="visible-md visible-lg">
                Téléchargez sur place, et avec votre téléphone mobile, les indications qui vous guident dans les rues de la ville ou les routes de campagne.
            </p>
            <p class="visible-md visible-lg">
                Lancez vous sur les chemins de traverse pour un rendez-vous insolite avec des instants fragiles et des monuments historiques. Imaginez le projet comme une fenêtre auditive augmentée en accès libre et permanent dont vous êtes l'acteur et le spectateur en mouvement.
            </p>
            <h3 class="visible-md visible-lg">
                territoire en mouvements
            </h3>
            <p class="visible-md visible-lg">
                31 partitions imaginées par Patrice Barthès, chorégraphe-plasticien, dédiées à la Métropole de Montpellier et produites par l’Atelline, lieu d’activation art et espace public.
            </p>
            <a class="btn btn-default btn-lg btn-block visible-xs visible-sm" href="/list.html"><i class="icon-tem_maps"></i>Voir les parcours</a>
        </div>
    </div>
</div>
