<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>territoire <br/>en <br/>mouvements</h1>
            <h5>Des parcours sensibles à l'échelle <br/>de Montpellier Méditerranée Métropole.</h5>
            <i class="icon-tem_headphone"></i>
            <p class="visible-xs visible-sm">
                Venez simplement avec votre mobile et un casque audio et téléchargez sur place les indications qui vous guident pour une exploration insolite, des instants fragiles et des monuments historiques.
            </p>
            <a class="btn btn-default btn-lg btn-block visible-xs visible-sm" href="#"><i class="icon-tem_compass"></i>Voir les parcours</a>
        </div>
    </div>
</div>
