<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>territoire en mouvements bénéficie du soutien de</h3>
            <ul>
                <li>
                    de la DRAC Languedoc Roussillon Midi Pyrénées
                </li>
                <li>
                    de la Région Languedoc Roussillon Midi Pyrénées
                </li>
                du fonds de dotation Montpellier Mécènes Méditerranée
                <li>
                    de l’Atelline
                </li>
            </ul>
            <h3>le parcours de Villeneuve-les-Maguelone a été réalisé avec le concours</h3>
            <ul>
                <li>
                    de la Ville de Villeneuve-les-Maguelone
                </li>
                <li>
                    de ses habitants et acteurs du territoire
                </li>
                du comité des fêtes
                <li>
                    de l’Atelline
                </li>
            </ul>
            <h3>les auteurs</h3>
            <ul>
                <li>
                    Patrice Barthès / création
                </li>
                <li>
                    Christophe Heral / composition sonore
                </li>
                </ul>

            </div>
        </div>
    </div>
