<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>territoire en mouvements bénéficie du soutien</h3>
            <p>
                de la DRAC Occitanie Pyrénées - Mediterranée
                <br/>
                de la Région Occitanie Pyrénées - Mediterranée
                <br/>
                du fonds de dotation Mécènes Montpellier Méditerranée
                <br/>
                de <a href="http://www.latelline.org/" target="_blank">l’Atelline</a>, lieu d’activation art et espace public
            </p>
            <h3>Villeneuve-lès-Maguelone</h3>
            <p>
                « Le parcours dédié à Villeneuve-lès-Maguelone est essentiellement orienté vers une exploration du cœur de ville que je qualifierais de ville médiévale. Le propos est donc orienté vers l’histoire de la ville et sa composition urbaine avec la valorisation de l’axe qui va du château d’eau à La Cathédrale de Maguelone. La collecte des informations qui alimentent le parcours a été faite avec la complicité des habitants et des services techniques de la ville. Quelques anecdotes sont réelles et d’autres participent d’une fiction qui permet de réinventer et de réenchanter l’actualité du spectateur. L’architecte Thomas Rondony a accepté de contribuer à l’écriture du parcours en faisant le commentaire de la réalisation contemporaine dont il est le maître d’œuvre. Le parcours se termine dans une ambiance festive qui s’accorde parfaitement avec le plaisir d’inaugurer ce nouveau dispositif numérique et sensible à l’échelle de la Métropole de Montpellier. »
                <br/><em>Patrice Barthès</em>
            </p>
            <h3>crédits</h3>
            <p>
                UI/UX design, développement UI : Adrien Revel / © <a href="http://aker.pro" target="_blank">aker</a> 2016
                <br/>
                développement web, dispositif de prise de son : <a href="http://david-o.net" target="_blank">David Olivari</a>
            </p>
            <h3>contacts</h3>
            <p><a href="http://www.latelline.org/" target="_blank">l’Atelline</a>
                <br/>3, rue de la Cour du recteur
                <br/>34070 Montpellier
                <br/>
                <br/>Tel : 00 33 (0)4 99 54 69 07
                <br/>Mail : contact[at]latelline.org
            </p>
        </div>
    </div>
</div>
