<div class="container fluid">
    <div class="row" data-toggle="collapse" data-target="#villeneuve-les-maguelone">
        <hr>
        <div class="col-xs-10">
            <h3>Villeneuve-lès-Maguelone</h3>
        </div>
        <div class="col-xs-2 text-right">
            <i class="icon-tem_arrow-down"></i>
        </div>
    </div>
    <div class="row collapse" id="villeneuve-les-maguelone">
        <div class="col-xs-12">
            <div class="maps" id="map1"></div>
        </div>
        <div class="col-xs-12">
            <p>
                Lorem ipsum dolor sit amet, test link adipiscing elit. Lorem ipsum dolor sit amet, test link adipiscing elit. Lorem ipsum dolor sit amet, test link adipiscing elit. Lorem ipsum dolor sit amet, test link adipiscing elit.
            </p>
            <h5> <i class="icon-tem_marker-cross small"></i>Latitude : 43.5327 | Longitude : 3.86046 </h5>
            <a class="btn btn-default btn-xs" target = "_blank" href="https://www.google.fr/maps/@43.5327195,3.8593715,18z"><i class="icon-tem_compass"></i>M'y rendre</a>
            <a class="btn btn-default btn-xs" href="paths/villeneuve-les-maguelone"><i class="icon-tem_check"></i>Commencer</a>
            </div>
        </div>

        <div class="row">
            <hr style="margin-top:20px">
            <div class="col-xs-10">
                <h3 class ="inactive">Parcours 2</h3>
            </div>
            <div class="col-xs-2 text-right">
                <i class="icon-tem_arrow-down inactive"></i>
            </div>
        </div>
        <div class="row">
            <hr style="margin-top:20px">
            <div class="col-xs-10">
                <h3 class ="inactive">Parcours 3</h3>
            </div>
            <div class="col-xs-2 text-right">
                <i class="icon-tem_arrow-down inactive"></i>
            </div>
        </div>
        <div class="row">
            <hr style="margin-top:20px">
            <div class="col-xs-10">
                <h3 class ="inactive">Parcours 4</h3>
            </div>
            <div class="col-xs-2 text-right">
                <i class="icon-tem_arrow-down inactive"></i>
            </div>
        </div>
        <div class="row">
            <hr style="margin-top:20px">
            <div class="col-xs-10">
                <h3 class ="inactive">Parcours 5</h3>
            </div>
            <div class="col-xs-2 text-right">
                <i class="icon-tem_arrow-down inactive"></i>
            </div>
        </div>
