<audio id="audioElt" controls="controls">
    <source id="mp3_src" src="<%= public.paths._data[current.source].audiourl %>" type="audio/mpeg">
</audio>
 <div>
<i class="icon-tem_play big" onclick="$.popcorn.play()"></i>

</div>
<ul>
<%
var chapters = public.paths._data[current.source].cues;
for(var i=0; i<chapters.length; i++) {%>
<li id="chapter<%=i%>"><%= chapters[i].title %></li>
<li><br><br><br><br><br><br><br><br></li>
<% } %>
</ul>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
       <div class="container">
              <div class="row">
                <i class="icon-tem_rewind" onclick="$.popcorn.currentTime(currentCue)"></i>
                <i class="icon-tem_play" onclick="$.popcorn.play();"></i>
                <i class="icon-tem_pause hide" onclick="$.popcorn.pause()"></i>
                <span class="timer" id="currentCue">0:00</span>
              </div>
      </div>
</nav>


<script type="text/javascript">
    var pathData = <%- JSON.stringify(public.paths._data[current.source]) %>;
</script>
<script type="text/javascript" src="/assets/popcorn.min.js"></script>
<script type="text/javascript" src="/assets/path.js"></script>
