<h3>audiocontrol</h3>
 <audio id="audioElt">
    <source id="mp3_src" type="audio/mpeg">
 </audio>
<script type="text/javascript">
    var pathData = <%- JSON.stringify(public.paths._data["villeuneuve-les-maguelone"]) %>;
</script>
<script type="text/javascript" src="/assets/popcorn.min.js"></script>
<script type="text/javascript" src="/assets/path.js"></script>
