<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
              <div class="row">
                     <div class="col-xs-4 text-center">
                            <a href="/list.html">
                                   <i class="icon-tem_list"></i>
                            </a>
                     </div>
                     <div class="col-xs-4 text-center">
                            <a href="/info.html">
                                   <i class="icon-tem_info"></i>
                            </a>
                     </div>
                     <div class="col-xs-4 text-center">
                       <!-- AddToAny BEGIN -->
                       <a class="a2a_dd" href="https://www.addtoany.com/share"><i class="icon-tem_share"></i></a>
                       <script>
                       var a2a_config = a2a_config || {};
                       a2a_config.onclick = 1;
                       a2a_config.locale = "fr";
                       a2a_config.num_services = 4;
                       a2a_config.prioritize = ["facebook", "twitter", "google_plus", "email"];
                       </script>
                       <script async src="https://static.addtoany.com/menu/page.js"></script>
                       <!-- AddToAny END -->
                     </div>
                     <div class="col-xs-12 text-center">
                            <h2><%= public.paths._data[current.source].town %></h2>
                     </div>
              </div>
       </div>
</nav>
