<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
              <div class="row">
                            <div class="col-xs-4 text-center">
                                   <a href="/list">
                                          <i class="icon-tem_list"></i>
                                   </a>
                            </div>
                            <div class="col-xs-4 text-center">
                                   <a href="/info">
                                          <i class="icon-tem_info"></i>
                                   </a>
                            </div>
                            <div class="col-xs-4 text-center">
                                   <a href="#">
                                          <i class="icon-tem_share"></i>
                                   </a>
                            </div>
                            <div class="col-xs-12 text-center">
                                   <h2><%= public.paths._data["villeuneuve-les-maguelone"].town %></h2>
                            </div>
                     </div>
              </div>
       </nav>
